@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-light-gray: #f4f5f7;
  --color-primary: #ffc700;
  --color-secondary: #655a7c;
  --color-orange: #f95738;
  --color-chocolate: #540b0e;
  --padding-sm: clamp(1rem, 3%, 1.5rem);
  --padding-md: clamp(1.5rem, 6%, 3rem);
  --padding-lg: clamp(3rem, 12%, 6rem);
  --margin-sm: min(2rem, 4vh);
  --margin-md: min(4rem, 8vh);
  --margin-lg: min(8rem, 16vh);
  --font-main: Poppins, sans-serif;
  --nav-height: min(12.5vh, 4rem);
  --nav-elements-height: min(2.75rem, 7.5vh);
  --slider-card-size: 30vh;
}

.color-primary {
  color: var(--color-primary);
}

.color-orange {
  color: var(--color-orange);
}

.color-secondary {
  color: var(--color-secondary);
}

body {
  background-color: var(--color-light-gray);
  font-family: var(--font-main);
  height: 2000vh;
}

button {
  border: none;
  background-color: transparent;
}

h1 {
}

h2 {
  font-size: clamp(2.75rem, 1.8578rem + 3.6601vw, 6.25rem);
}

h3 {
}

h4 {
  font-size: clamp(1.25rem, 0.4853rem + 3.1373vw, 4.25rem);
}

h5 {
  font-size: clamp(0.9375rem, 0.7304rem + 0.8497vw, 1.75rem);
}

h6 {
  font-size: clamp(0.75rem, 0.5907rem + 0.6536vw, 1.375rem);
}

.btn {
  color: white;
  border: white solid clamp(0.125rem, 0.0772rem + 0.1961vw, 0.3125rem);
  padding: min(2rem, 3vw) min(4rem, 6vw);
  border-radius: min(3rem, 15vw);
  font-size: clamp(0.8125rem, 0.7328rem + 0.3268vw, 1.125rem);
  font-weight: 700;
  transition: border-color 0.5s, color 0.5s;
}

.btn:hover {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

/* Navigation */

nav {
  display: flex;
  height: var(--nav-height);
  justify-content: space-between;
  align-items: center;
  padding: min(1.5rem, 2vh) min(5rem, 6vw);
}

.logo {
  height: var(--nav-elements-height);
  fill: var(--color-orange);
}

.menu-button {
  width: auto;
  height: var(--nav-elements-height);
}

.menu-button img {
  height: 100%;
}

/* Hero */

.hero {
  height: calc(100vh - var(--nav-height));
  padding: var(--padding-lg);
  background-color: var(--color-chocolate);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./img/louis-hansel-wXkGvQJWI-Y-unsplash.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  line-height: 0.9;
}

.hero-text {
  margin-top: 5vh;
}

.hero-text h2 {
  text-transform: uppercase;
  margin: 1rem 1.5rem;
}

.top-meals {
  /* height: 70vh; */
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.top-meals p {
  font-size: clamp(0.6875rem, 0.3689rem + 1.3072vw, 1.9375rem);
  font-weight: 500;
}

.meal-cards-container {
  flex: 1;
  list-style-type: none;
  width: 100vw;
  /* Solution 1
  display: flex;
  gap: 7vw; */

  /* Solution 2 */
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  grid-gap: 1.5rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 1rem 1.5rem 1.5rem;
  -webkit-overflow-scrolling: touch;
}

.meal-card {
  border-radius: 1.875rem;
  overflow: hidden;
  width: var(--slider-card-size);
  background-color: white;
  padding-bottom: 1rem;
  -webkit-box-shadow: 0px 0px 15px -7px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 15px -7px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 15px -7px rgba(66, 68, 90, 1);

  /* Solution 2 */
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.meal-card > img {
  width: var(--slider-card-size);
  height: var(--slider-card-size);
  object-fit: cover;
  object-position: center;
  /* border-radius: 20%; */
}

.price-wrapper {
  margin: 0 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-wrapper span {
  font-weight: 500;
}

.price-wrapper button {
  background-color: var(--color-orange);
  padding: 1rem 0.5rem;
  border-radius: 2.875rem;
  color: white;
}

.see-more {
  text-align: center;
}

.see-more-arrow {
  width: min(10vh, 10vw);
  height: min(5vh, 5vw);
  object-fit: cover;
}

.panel-text {
  padding: var(--padding-md);
  line-height: 0.9;
  color: white;
  height: 75vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.text-panel h2 {
  margin: 1.5rem 0;
  text-transform: uppercase;
}

.background-chef {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./img/thomas-marban-EHK-EH1SRzQ-unsplash.jpg");
  background-size: cover;
  background-position: center 20%;
}

.background-table {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./img/j-torres-CyCMOcYKlu8-unsplash.jpg");
  background-size: cover;
  background-position: center;
  margin: max(3vw, 1.5rem);
}

.align-right {
  align-items: flex-end;
}

.panel-figure {
  padding: var(--padding-md);
  line-height: 0.9;
  color: white;
  height: 75vh;
  display: flex;
}

.background-restaurant {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./img/danis-lou-jfZfdQtcH6k-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
